In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 9.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\enrique\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 15.3 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     --------------------------------------- 14.8/14.8 MB 13.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\enrique\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\Enrique\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip list

Package           Version
----------------- --------
asttokens         2.2.1
backcall          0.2.0
colorama          0.4.6
comm              0.1.2
debugpy           1.6.6
decorator         5.1.1
executing         1.2.0
ipykernel         6.21.3
ipython           8.11.0
jedi              0.18.2
jupyter_client    8.0.3
jupyter_core      5.2.0
matplotlib-inline 0.1.6
nest-asyncio      1.5.6
numpy             1.24.2
packaging         23.0
pandas            1.5.3
parso             0.8.3
pickleshare       0.7.5
pip               22.3.1
platformdirs      3.1.1
prompt-toolkit    3.0.38
psutil            5.9.4
pure-eval         0.2.2
Pygments          2.14.0
python-dateutil   2.8.2
pytz              2022.7.1
pywin32           305
pyzmq             25.0.1
setuptools        65.5.0
six               1.16.0
stack-data        0.6.2
tornado           6.2
traitlets         5.9.0
wcwidth           0.2.6
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\enrique\appdata\local\programs\python\python311\lib\site-packages (22.3.1)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 10.1 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts pip.exe, pip3.11.exe and pip3.exe are installed in 'c:\Users\Enrique\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [2]:
import pandas as pd
import csv

In [3]:
#DATAFRAMES
df = pd.read_csv("balance.csv")

In [4]:
df.head(1)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [34]:
#df['Subject'] = df['Subject'].to_string() #astype(str)

KeyboardInterrupt

In [6]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed          float64
STATUS               object
UNITS                object
MAGNTUDE              int64
Subject              object
Group                object
Series_title_1       object
dtype: object

In [7]:
df["Series_title_1"].unique()

array(['Actual', 'Seasonally adjusted', 'Trend'], dtype=object)

In [15]:
df[["Period","Data_value"]].head(2)

    Period  Data_value
0  1971.06       426.0
1  1971.09       435.0

In [8]:
#df[(df.STATUS=="C")]
df[(df.Period==2000.12)].head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
118,BOPQ.S06AC000000000A,2000.12,12820.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
325,BOPQ.S06AC000000000B,2000.12,0.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [9]:
df.loc[(df.Period==2000.12), "MAGNTUDE"] = 100

In [10]:
df[(df.Period==2000.12)].head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
118,BOPQ.S06AC000000000A,2000.12,12820.0,NaN,F,Dollars,100,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
325,BOPQ.S06AC000000000B,2000.12,0.0,NaN,F,Dollars,100,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual

In [11]:
#DROPEAR -> eliminar filas
#Eliminar las filas cuyo valor de STATUS sea igual a F
df = df.drop(df[(df.STATUS=="F")].index)

In [27]:
df.to_csv("dataset_limpio.csv", index=False)

In [30]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed          float64
STATUS               object
UNITS                object
MAGNTUDE              int64
Subject              object
Group                object
Series_title_1       object
dtype: object

In [14]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2023.2.0-cp311-cp311-win_amd64.whl (615 kB)
     ---------------------------------------- 0.0/615.1 kB ? eta -:--:--
     ------------------------ ------------ 399.4/615.1 kB 12.6 MB/s eta 0:00:01
     -------------------------------------- 615.1/615.1 kB 9.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.5.0 in c:\users\enrique\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\enrique\appdata\local\programs\python\python311\lib\site-packages (from fastparquet) (1.24.2)
Collecting cramjam>=2.3
  Downloading cramjam-2.6.2-cp311-none-win_amd64.whl (1.2 MB)
     ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
     ------------------- -------------------- 0.6/1.2 MB 18.2 MB/s eta 0:00:01
     ---------------------------------------  1.2/1.2 MB 15.8 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 13.2 MB/s eta 0:00:00
Collecting fsspec
  Downloading fsspec-2023.3.0-py3-none-any.whl (145 kB)
     ---------------------------------------- 0.0/145.4 kB ? eta -:--:--
     ---------------------------------------- 145.4/145.4 kB ? eta 0:00:00
Requirement already satisfied: packaging in c:\users\enrique\appdata\roaming\python\python311\site-packages (from fastparquet) (23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\enrique\appdata\roaming\python\python311\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\enrique\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.5.0->fastparquet) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\enrique\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.6.2 fastparquet-2023.2.0 fsspec-2023.3.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
#DATAFRAMES
df = pd.read_csv("balance.csv")
df.to_parquet('sin_modificaciones.snappy.parquet', compression='snappy')

In [16]:
pd.read_parquet('sin_modificaciones.snappy.parquet', engine='pyarrow')

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1
0,BOPQ.S06AC000000000A,1971.06,426.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
1,BOPQ.S06AC000000000A,1971.09,435.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
2,BOPQ.S06AC000000000A,1971.12,360.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
3,BOPQ.S06AC000000000A,1972.03,417.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
4,BOPQ.S06AC000000000A,1972.06,528.0,NaN,F,Dollars,6,Balance of Payments - BOP,"BPM6 Quarterly, Balance of payments major comp...",Actual
...,...,...,...,...,...,...,...,...,...,...
199580,IIPA.S06ALDDDDPO7706,2018.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
199581,IIPA.S06ALDDDDPO7706,2019.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
199582,IIPA.S06ALDDDDPO7706,2020.03,0.0,NaN,F,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
199583,IIPA.S06ALDDDDPO7706,2021.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual
199584,IIPA.S06ALDDDDPO7706,2022.03,NaN,NaN,C,Dollars,6,International Investment Position - IIP,"BPM6 Annual, Directional basis stock of total ...",Actual